.mainFooter {
  background-color: #f8f4f1;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 5rem 0;
  font-size: 1.2rem;
}
.footerName {
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .mainFooter {
    padding: 2rem 1rem;
  }
}
