@media only screen and (max-width: 768px) {
  .mainCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
  .textCard {
    width: 100%;
  }
  .leftCard {
    width: 100%;
  }
  .rightCard {
    width: 100%;
  }
  .downCard {
    justify-content: space-between;
    width: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .mainCard {
    padding: 1rem;
  }
  .cardTitle {
    font-size: 1rem;
    font-weight: 500;
  }
  .textCard {
    font-size: 0.8rem;
  }
  .leftCard {
    width: 100%;
  }
  .rightCard {
    width: 100%;
  }
}
