@media only screen and (max-width: 500px) {
  .packetsMain {
    align-items: center;
    text-align: center;
  }
  .flexPackets {
    flex-direction: column;
  }
  .infoText {
    width: 80%;
  }
}
@media only screen and (max-width: 500px) {
  .packetsMain {
    align-items: center;
    text-align: center;
  }

  .flexPackets {
    flex-direction: column; /* Dikey hizalamak için */
    gap: 16px; /* Elemanlar arasında biraz boşluk */
  }

  .infoText {
    width: 80%;
  }

  /* Ekstra stil önerileri */
  .infoText span:nth-child(1) {
    /* Logonun stilini burada düzenleyebilirsiniz */
    width: 100px; /* İsteğe bağlı logo boyutu */
  }

  .infoText span:nth-child(2) {
    /* Tanışıyoruz! başlığı */
    font-weight: bold; /* Kalın yaparak vurgulayabiliriz */
  }
}

/* Desktop için ek stil */
@media only screen and (min-width: 500px) {
  .flexPackets {
    flex-direction: row; /* Yatay hizalamak için */
  }

  .infoText {
    width: 25%; /* Daha geniş ekranlarda daha az yer kaplar */
  }
}
